@media screen and (max-width: 991px){
	.navbar .navbar-toggler {
	    padding: 0px;
	    height: 46px;
	    width: 46px;
	    border: 0px;
	    color: #fff;
	    font-size: 28px;
	    margin-right: 8px;
	    line-height: normal;
	    outline: 0;
	    box-shadow: none;
	}
	.header-main .nav-item .nav-link {
	    font-size: 20px;
	    font-weight: 500;
	}
	.header-main {
	    position: relative;
	}
	.header-main .navbar {
	    position: static;
	}
	.header-main .navbar-collapse {
	    position: absolute;
	    top: 100%;
	    left: 0px;
	    right: 0px;
	    margin-top: 15px;
	    background-color: #050b25;
	    z-index: 99;
	    text-align: left;
	}
	.header-main .nav-item {
		margin: 0px;
	}
	.social a {
	    height: 35px;
	    width: 35px;
	    line-height: 36px;
	    font-size: 18px;
	    margin: 0px 4px;
	}
	.t-header,
	.header-bottom {
	    padding: 15px 0px;
	    display: none;
	}
	.header-bottom.responsive-header {
	    display: block;
	}
	.header-main .logo img {
	    max-width: 150px;
	}
}
@media screen and (min-width: 992px) {
	.header-bottom.responsive-header {
	    display: none;
	}
}
@media screen and (max-width: 767px){
	body {
		text-align: center;
	}
	.page-paddings {
	    padding: 80px 0px;
	}
	.mb-40 {
	    margin-bottom: 30px;
	}
	.d-flex {
	    flex-wrap: wrap;
	}
	.btn.btn-primary {
	    font-size: 22px;
	}
	.mt-50 {
	    margin-top: 20px;
	}
	.page-title h4 {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.page-title h2 {
	    font-size: 50px;
	}
	.hero {
	    padding: 50px 0px 50px;
	}
	.hero-text .hero-img,
	.b-arrow,
	.about-media,
	.roadmap .roadmap-main .dots,
	.roadmap-step h2 > svg,
	.moon-media {
		display: none;
	}
	.hero-text h1,
	.hero-text p,
	.hero-text span {
		margin-bottom: 20px;
	}
	.hero-text h1 {
	    font-size: 60px;
	}
	.hero-text h3 {
	    font-size: 25px;
	}
	.hero-text p {
	    font-size: 20px;
	}
	.hero-btn .btn.btn-primary {
	    padding: 15px 24px;
	}
	.hero-text span {
	    font-size: 18px;
	}
	.statistics-card .statistics-inner {
	    padding: 30px 20px 10px;
	}
	.statistics-inner .statistics-item {
	    width: 50%;
	    margin-bottom: 20px;
	}
	.statistics-item h3 {
	    font-size: 42px;
	}
	.statistics-item p {
	    font-size: 20px;
	}
	.tokenomics {
	    padding-bottom: 0px;
	}
	.roadmap .roadmap-main::before {
		content: none;
	}
	.roadmap-main .roadmap-step {
	    margin-bottom: 50px;
	    display: block !important;
	    width: 50%;
	    float: left;
	    text-align: left;
	}
	.roadmap-step h2 {
	    font-size: 32px;
	}
	.roadmap-step ul {
	    margin: 30px 0px 0px;
	}
	.roadmap .roadmap-main {
	    padding-bottom: 0px;
	}
	.moonsheet-card table {
	    width: 700px !important;
	}
	.moonsheet-table tr > th > span,
	.moonsheet-table tr > td {
	    font-size: 16px;
	}
	.trade {
		padding-top: 0px;
	}
	.trade .trade-text {
	    margin-bottom: 30px;
	    text-align: center;
	}
	.trade1 {
	    order: 2;
	}
	.trade2 {
	    order: 1;
	}
	.voltichange-widget {
	    width: 105% !important;
	}
	.trade-table p {
	    font-size: 24px;
	}
	.footer-top {
	    padding: 60px 0px;
	}
	.footer-link a {
	    font-size: 18px;
	    margin: 6px 16px;
	}
	.footer-text .social a {
	    height: 45px;
	    width: 45px;
	    line-height: 46px;
	    font-size: 18px;
	}
}
@media screen and (max-width: 575px){
	.roadmap-main .roadmap-step {
		width: 100%;
		float: none;
	}
	div#toTop {
	    bottom: 10px;
	    right: 10px;
	}
}
@media screen and (max-width: 479px){
	body {
		font-size: 20px;
	}
	.page-title h4 {
	    font-size: 22px;
	    margin-bottom: 10px;
	}
	.header-btn .btn.btn-primary {
	    padding: 0px;
	    font-size: 0px;
	    height: 46px;
	    width: 46px;
	    border-radius: 5px;
	}
	.header-btn .btn.btn-primary > i {
	    font-size: 20px;
	}
	.hero-btn .btn.btn-primary {
	    width: 100%;
	    margin: 5px 0px;
	}
	.statistics-item h3 {
	    font-size: 34px;
	}
	.statistics-item p {
	    font-size: 16px;
	}
	.page-title h2,
	.hero-text h1 {
	    font-size: 38px;
	}
	.hero-text h3 {
	    font-size: 22px;
	}
	.footer-text .logo img {
	    max-width: 150px;
	}
}
@media screen and (min-width: 480px) {
	.header-btn .btn.btn-primary > i {
		display: none;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	.btn.btn-primary {
	    font-size: 22px;
	}
	.mt-50 {
	    margin-top: 30px;
	}
	.mb-40 {
	    margin-bottom: 30px;
	}
	.page-title h4 {
	    font-size: 30px;
	}
	.page-title h2 {
	    font-size: 54px;
	}
	.header-top .logo img {
	    max-width: 160px;
	}
	.hero {
	    padding: 60px 0px;
	}
	.hero-text .hero-img img {
	    max-width: 140px;
	}
	.hero-text .hero-img.perry1 {
	    left: -140px;
	}
	.hero-text .hero-img.perry2 {
	    right: -140px;
	}
	.hero-text h1,
	.hero-text p,
	.hero-text span {
	    margin-bottom: 30px;
	}
	.hero-text h1 {
	    font-size: 80px;
	}
	.hero-btn .btn.btn-primary {
	    padding: 18px 24px;
	}
	.b-arrow,
	.roadmap-main .dots,
	.roadmap-step h2 > svg {
	    display: none;
	}
	.statistics-card .statistics-inner {
	    padding: 40px 40px;
	}
	.statistics-item h3 {
	    font-size: 38px;
	}
	.statistics-item p {
	    font-size: 22px;
	}
	.tokenomics {
	    padding-bottom: 0px;
	}
	.roadmap .roadmap-main::before {
		content: none;
	}
	.roadmap-main .roadmap-step {
	    margin-bottom: 50px;
	    display: block !important;
	    width: 50%;
	    float: left;
	}
	.roadmap-step h2 {
	    font-size: 32px;
	}
	.roadmap-step ul {
	    margin: 30px 0px 0px;
	}
	.moon-media img {
	    max-width: 280px;
	}
	.moonsheet-table table {
	    width: 750px !important;
	}
	.trade {
		padding-top: 0px;
	}
	.trade-table p {
	    font-size: 24px;
	}
	.trade .trade-text {
	    margin-bottom: 30px;
	    text-align: center;
	}
	.trade1 {
	    order: 2;
	}
	.trade2 {
	    order: 1;
	}
	.footer-top {
	    padding: 60px 0px;
	}
	.footer-link a {
	    font-size: 20px;
	    margin: 0px 20px;
	}
	.footer-text .social a {
	    height: 45px;
	    width: 45px;
	    line-height: 46px;
	    font-size: 20px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 992px){
	.mt-50 {
	    margin-top: 30px;
	}
	.btn.btn-primary {
	    font-size: 22px;
	}
	.page-title h4 {
	    font-size: 28px;
	}
	.page-title h2 {
	    font-size: 60px;
	}
	.logo img {
	    max-width: 180px;
	}
	.header-main .nav-item {
	    margin-right: 12px;
	}
	.header-main .nav-item .nav-link {
	    font-size: 18px;
	}
	.hero-text .hero-img img {
	    max-width: 160px;
	}
	.hero-text .hero-img {
	    top: 240px;
	}
	.hero-text .hero-img.perry1 {
	    left: 0px;
	}
	.hero-text .hero-img.perry2 {
	    right: 0px;
	}
	.hero-text h1,
	.hero-text p,
	.hero-text span {
		margin-bottom: 30px;
	}
	.hero-text h1 {
	    font-size: 100px;
	}
	.hero-btn .btn.btn-primary {
	    padding: 18px 24px;
	}
	.statistics-item h3 {
	    font-size: 50px;
	}
	.statistics-item p {
	    font-size: 22px;
	}
	.tokenomics-card {
	    padding: 30px 15px;
	}
	.roadmap-step h2 {
	    font-size: 30px;
	    padding-top: 6px;
	}
	.moon-media img {
	    max-width: 250px;
	}
	.moonsheet-table tr > th > span,
	.moonsheet-table tr > td {
	    font-size: 18px;
	}
	.trade-table iframe {
	    width: 105%;
	}
	.trade-table p {
	    font-size: 24px;
	}
}
@media screen and (max-width: 1600px) and (min-width: 1200px){
	.page-title h2 {
	    font-size: 80px;
	}
	.hero-text .hero-img img {
	    max-width: 150px;
	}
	.hero-text .hero-img {
	    top: 240px;
	}
	.hero-text .hero-img.perry1 {
	    left: 0px;
	}
	.hero-text .hero-img.perry2 {
	    right: 0px;
	}
}