:root {
  --primary: #FE9C0A;
  --secondary: #151E25;
  --black: #000000;
  --gray: #505050;
  --white: #ffffff;
  --facebook: #337FFF;
  --linkedin: #006699;
  --instagram: linear-gradient(315deg, #FBE18A 0.96%, #FCBB45 21.96%, #F75274 38.96%, #D53692 52.96%, #8F39CE 74.96%, #5B4FE9 100.96%);
  --twitter: #33CCFF;
}
body {
    background-color: #040A1F;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    font-family: 'Darker Grotesque', sans-serif;
}
img {
	max-width: 100%;
}
ul, li {
	margin: 0px;
	list-style: none;
	padding: 0px;
}
p {
	margin: 0px;
}
a {
    text-decoration: none;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-60 {
	margin-top: 60px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
}
.page-paddings {
    padding: 120px 0px;
}
.btn.btn-primary {
    color: #ffffff;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 16px;
    background: #21A3EC;
    padding: 6px 24px 10px;
    border: 0px;
    outline: 0 !important;
    box-shadow: none !important;
}
.page-title h4 {
    text-shadow: 0px 0px 48.5px #21A3EC;
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.page-title h2 {
    font-size: 100px;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    margin: 0px;
}
.page-title p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    max-width: 730px;
    margin: 20px auto 0px;
}
.main-sec {
    overflow-x: hidden;
}
/* Header */
.t-header {
    background: rgba(2, 4, 11, 0.01);
    box-shadow: 0px 4px 63.4px 0px #2D1472;
    padding: 24px 0px;
}
.header-main .nav-item {
    margin-right: 24px;
}
.header-main .nav-item:last-child {
    margin-right: 0px;
}
.header-main .nav-item .nav-link {
    color: #ffffff;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    padding: 8px 12px;
    line-height: normal;
}
.header-main .nav-item.active .nav-link,
.header-main .nav-item:hover .nav-link {
    background-color: #21A3EC;
}
.social {
    margin: 0px -8px;
}
.social a {
    height: 45px;
    width: 45px;
    line-height: 46px;
    text-align: center;
    background-color: var(--black);
    border-radius: 100%;
    float: left;
    font-size: 20px;
    margin: 0px 8px;
    color: var(--white);
}
.social a.facebook {
    background: var(--facebook);
}
.social a.linkedin {
    background: var(--linkedin);
}
.social a.instagram {
    background: var(--instagram);
}
.social a.twitter {
    background: var(--twitter);
}
.header-bottom {
    padding: 20px 0px;
    transition: all 0.5s;
}
.header-bottom::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #ABE1FF;
    box-shadow: 0px 0px 2px 0px #21A3EC, 0px 0px 4px 0px #90D7FF, 0px 0px 9.3px 0px #21A3EC, 0px 0px 9px 0px #FFF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.fixed .header-bottom {
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    background: rgb(4 10 31 / 80%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px);
    padding: 14px 0px;
}
/* Header */
/* Hero */
.hero {
    padding: 80px 0px 170px;
    background-image: url(../images/hero/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    z-index: 1;
}
.hero-text h1 {
    font-size: 150px;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.hero-text p {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    max-width: 960px;
    margin: 0px auto 40px;
}
.hero-text h3 {
    color: #21A3EC;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.hero-text span {
    color: #030714;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    background: #ffffff;
    padding: 16px 16px;
    word-break: break-word;
    display: inline-block;
    margin-bottom: 50px;
}
.hero-btn .btn.btn-primary {
    padding: 24px 24px;
    line-height: 1;
    margin-right: 24px;
    float: left;
}
.hero-btn .btn.btn-primary:last-child {
    margin-right: 0px;
}
.hero .hero-b {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
.hero-text .hero-img {
    position: absolute;
    top: 130px;
}
.hero-text .hero-img.perry1 {
    left: -80px;
}
.hero-text .hero-img.perry2 {
    right: -80px;
}
.hero-text .hero-img::before {
    content: "";
    height: 260px;
    width: 260px;
    border-radius: 269px;
    background: #6221EC;
    filter: blur(126.30000305175781px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    z-index: -1;
}
/* Hero */
/* Statistics */
.statistics-card {
    border-radius: 30px;
    border: 1px solid #21A3EC;
    background: linear-gradient(180deg, #0E1C4F 0%, rgba(3, 6, 18, 0.00) 100%);
    box-shadow: 0px 10px 0px 0px #21A3EC;
}
.statistics-card .statistics-inner {
    border-radius: 30px;
    background: #040A1F;
    box-shadow: 0px 4px 167.8px 0px rgba(83, 80, 223, 0.36);
    padding: 60px 50px;
}
.statistics-item h3 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 15px;
}
.statistics-item p {
    font-size: 32px;
    line-height: 1;
    text-transform: capitalize;
}
/* Statistics */
/* About */
.about-media > span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
}
.about-media::before {
    content: "";
    height: 430px;
    width: 430px;
    border-radius: 100%;
    background: rgba(98, 33, 236, 0.60);
    filter: blur(140.10000610351562px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    margin: 0px auto;
    z-index: -1;
}
/* About */
/* Tokenomics */
.tokenomics {
    padding-bottom: 250px;
    background-image: url(../images/tokenomics-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.tokenomics-card {
    border-radius: 30px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.06) 51.38%, rgba(255, 255, 255, 0.13) 100%);
    backdrop-filter: blur(11.300000190734863px);
    padding: 30px 30px;
    height: 100%;
}
.tokenomics-card h4 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.tokenomics-card h3 {
    color: #21A3EC;
    text-shadow: 0px 2px 0px #FFF;
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.tokenomics-card p {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    text-transform: capitalize;
}
/* Tokenomics */
/* Roadmap */
.roadmap .roadmap-main {
    padding: 40px 0px;
}
.roadmap .roadmap-main::before {
    content: "";
    height: 100%;
    width: 2px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: -92px;
}
.roadmap-main .dots::before, 
.roadmap-main .dots::after {
    content: "";
    height: 14px;
    width: 14px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: -98px;
}
.roadmap-main .dots::before {
    top: 0px;
}
.roadmap-main .dots::after {
    bottom: 0px;
}
.roadmap-step h2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 0.5;
    text-transform: capitalize;
    margin: 0px;
    position: relative;
}
.roadmap-main .roadmap-step {
    margin-bottom: 100px;
}
.roadmap-main .roadmap-step:last-child {
    margin-bottom: 0px;
}
.roadmap-step ul {
    margin-left: 50px;
    padding-left: 20px;
}
.roadmap-step ul > li {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 15px;
    list-style: disc;
}
.roadmap-step ul > li:last-child {
    margin-bottom: 0px;
}
.roadmap-step h2 > svg {
    position: absolute;
    top: 14px;
    left: -90px;
}
/* Roadmap */
/* Moonsheet */
.moonsheet {
    background-image: url(../images/moon-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.moonsheet .moon-media {
    margin-top: 30px;
}
.moonsheet-card {
    border-radius: 30px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.06) 51.38%, rgba(255, 255, 255, 0.13) 100%);
    backdrop-filter: blur(11.300000190734863px);
    padding: 30px 15px;
    margin-top: 30px;
}
.moon-media::before {
    content: "";
    height: 350px;
    width: 350px;
    border-radius: 100%;
    background: #6221EC;
    filter: blur(126.30000305175781px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    z-index: -1;
}
.moonsheet-table tr > th {
    padding: 0px 15px 15px;
}
.moonsheet-table tr > th > span {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 4px;
    background: #21A3EC;
    display: inline-block;
    padding: 8px 24px;
}
.moonsheet-table tr > td {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    padding: 12px 15px;
}
.moonsheet-process {
    width: 100%;
    height: 16px;
    background: linear-gradient(270deg, #21A3EC 101.04%, rgba(255, 255, 255, 0.00) 101.05%);
    display: block;
}
/* Moonsheet */
/* Trade */
.trade-table {
    border-radius: 30px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.06) 51.38%, rgba(255, 255, 255, 0.13) 100%);
    backdrop-filter: blur(11.300000190734863px);
    padding: 30px;
}
.trade-table p {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
}
/* Trade */
/* Info */
.info {
    background-image: url(../images/info-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.info .info-card {
    border-radius: 30px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.06) 51.38%, rgba(255, 255, 255, 0.13) 100%);
    backdrop-filter: blur(11.300000190734863px);
    padding: 30px 30px;
    margin-top: 30px;
}
.info-card h3 {
    text-shadow: 0px 0px 48.5px #21A3EC;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 20px;
}
/* Info */
/* Modal */
.modal-backdrop {
    background-color: #040A1F;
    opacity: .9 !important;
}
.modal .modal-dialog {
    max-width: 650px;
}
.modal-content > button {
    height: 40px;
    width: 40px;
    padding: 0px;
    border-radius: 100%;
    border: 0px;
    background-color: #21A3EC;
    color: #fff;
    position: absolute;
    top: -20px;
    right: -15px;
    outline: 0;
    box-shadow: none;
    opacity: 1;
}
.modal-content {
    box-shadow: 0px 4px 167.8px 0px rgba(83, 80, 223, 0.36);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.06) 51.38%, rgba(255, 255, 255, 0.13) 100%);
    backdrop-filter: blur(11.300000190734863px);
    position: relative;
}
.contact-form .form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: 600;
    color: rgb(255 255 255 / 80%);
    text-transform: capitalize;
    display: block;
    text-align: left;
}
.form-group .form-control {
    padding: 15px 15px;
    line-height: normal;
    font-size: 18px;
    background-color: #040A1F;
    border: 1px solid rgb(255 255 255 / 25%);
    color: #fff;
    box-shadow: none;
}
.contact-form .page-btn {
    margin-top: 10px;
}
/* Modal */
/* Footer */
.footer-top {
    padding: 50px 0px 90px;
    border-top: 5px solid #21A3EC;
    background: #121325;
}
.footer-link a {
    display: inline-block;
    text-shadow: 0px 0px 48.5px #21A3EC;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 26px;
}
.copyright {
    padding: 14px 0px;
    background-color: #21A3EC;
}
.copyright-text p {
    text-shadow: 0px 0px 48.5px #21A3EC;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.footer-text .social a {
    height: 60px;
    width: 60px;
    line-height: 62px;
    font-size: 28px;
}
/* Footer */
div#toTop {
    height: 50px;
    width: 50px;
    line-height: 44px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #21A3EC;
    color: #ffffff;
    border: 3px solid #fff;
    text-align: center;
    font-size: 24px;
    display: none;
    z-index: 999;
    cursor: pointer;
    -webkit-animation: animation-zoom 2s linear infinite;
    animation: animation-zoom 2s linear infinite;
}


.hero-text .hero-img img,
.about-media > span > img,
.moonsheet .moon-media img,
.info .info-card:hover .info-ico img,
.tokenomics-card:hover .tokenomics-ico img {
    -webkit-animation: animation-zoom 2s linear infinite;
    animation: animation-zoom 2s linear infinite;
}

@keyframes animation-zoom {
    0% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
}


@media(min-width: 1200px) {
	.container {
	    max-width: 1430px;
	}
}